#!/bin/bash

# This is a bash rc file for developing in the WC/LS (Wire-Cell
# Toolkit + LArSoft) Singularity container.

source /usr/local/ups/setup
setup larsoft v07_03_00 -q e17:prof

# set this overriding what is set by above "setup" 
export WIRECELL_PATH=/usr/local/share/wirecell/data:/usr/local/share/wirecell/cfg

export PS1='[sing:$WIRECELL_VERSION]\u@\h:\w> '

