#!/bin/bash

# This is a bash rc file or setting up a WCT dev environment.  It
# doesn't do much.

export WIRECELL_PATH=/usr/local/share/wirecell/data:/usr/local/share/wirecell/cfg

wct-configure () {
    ./wcb configure --prefix=/usr/local/opt/wct --with-jsonnet=/usr/local --with-eigen-include=/usr/include/eigen3
}


unset PROMPT_COMMAND
PS1='[wct]\u@\h:\w> '


