#!/bin/bash

# This is a bash rc file for running wirecell in the wctdev.simg
# container.  It puts the bins/libs into their PATH variables.  For
# building WCT you probably do not want to do that.

PS1='[wct]\u@\h:\w> '


